PA1/result
PA1/data.zip
PA1/data
PA1/py.py
PA1/pa1_Part1.ipynb
PA1/pa1_report.aux
PA1/pa1_report.log
PA1/pa1_report.synctex.gz
PA1/pa1_report.pdf
Slides
.DS_Store
PA1/.DS_Store
PA1/report_20827430.pdf
PA1/code_20827430.zip
PA1/report_20827430.ipynb


PA2/data_set/*
!PA2/data_set/HKUST
PA2/wikiart/*
!PA2/wikiart/Symbolism
!PA2/wikiart/Realism
!PA2/wikiart/Post_Impressionism
!PA2/wikiart/Art_Nouveau_Modern
!PA2/wikiart/Early_Renaissance
PA2/wikiart/Symbolism/*
PA2/wikiart/Realism/*
PA2/wikiart/Post_Impressionism/*
PA2/wikiart/Art_Nouveau_Modern/*
PA2/wikiart/Early_Renaissance/*
!PA2/wikiart/Symbolism/konstantin-bogaevsky_port-of-imaginary-city-1932.jpg
!PA2/wikiart/Realism/camille-corot_toulon-battleships-dismantled.jpg
!PA2/wikiart/Post_Impressionism/vincent-van-gogh_red-vineyards-at-arles-1888.jpg
!PA2/wikiart/Art_Nouveau_Modern/boris-kustodiev_under-honey-s-harmonica-1927.jpg
!PA2/wikiart/Early_Renaissance/sandro-botticelli_crucifixion(1).jpg

PA2/__MACOSX
PA2/classify/*
!PA2/classify/derived-files
PA2/classify/derived-files/*
PA2/COCO
PA2/saved_model
PA2/part1_inference_output
PA2/pa2_report.aux
PA2/pa2_report.log
PA2/pa2_report.out
PA2/pa2_report.synctex.gz
PA2/classify_saved
PA2/acc
PA2/latex.py
PA2/classify-augmentation
PA1/.DS_Store
PA2/.DS_Store
!PA2/classify/derived-files/dog_art_painting_0.jpg
!PA2/classify/derived-files/dog_cartoon_0.jpg
!PA2/classify/derived-files/dog_photo_0.jpg
!PA2/classify/derived-files/dog_sketch_0.jpg
!PA2/classify/derived-files/elephant_art_painting_0.jpg
!PA2/classify/derived-files/elephant_cartoon_0.jpg
!PA2/classify/derived-files/elephant_photo_0.jpg
!PA2/classify/derived-files/elephant_sketch_0.jpg
!PA2/classify/derived-files/giraffe_art_painting_0.jpg
!PA2/classify/derived-files/giraffe_cartoon_0.jpg
!PA2/classify/derived-files/giraffe_photo_0.jpg
!PA2/classify/derived-files/giraffe_sketch_0.jpg
!PA2/classify/derived-files/horse_art_painting_0.jpg
!PA2/classify/derived-files/horse_cartoon_0.jpg
!PA2/classify/derived-files/horse_photo_0.jpg
!PA2/classify/derived-files/horse_sketch_0.jpg
!PA2/classify/derived-files/guitar_art_painting_0.jpg
!PA2/classify/derived-files/guitar_cartoon_0.jpg
!PA2/classify/derived-files/guitar_photo_0.jpg
!PA2/classify/derived-files/guitar_sketch_0.jpg
!PA2/classify/derived-files/house_art_painting_0.jpg
!PA2/classify/derived-files/house_cartoon_0.jpg
!PA2/classify/derived-files/house_photo_0.jpg
!PA2/classify/derived-files/house_sketch_0.jpg
!PA2/classify/derived-files/person_art_painting_0.jpg
!PA2/classify/derived-files/person_cartoon_0.jpg
!PA2/classify/derived-files/person_photo_0.jpg
!PA2/classify/derived-files/person_sketch_0.jpg

PA2/pa2_report.pdf
PA2/report.pdf
PA2/code.zip