PA1/result
PA1/data.zip
PA1/py.py
PA1/pa1_Part1.ipynb
PA1/pa1_report.aux
PA1/pa1_report.log
PA1/pa1_report.synctex.gz
PA1/pa1_report.pdf
Slides
.DS_Store
PA1/.DS_Store
PA1/report_20827430.pdf
PA1/code_20827430.zip
PA1/report_20827430.ipynb
PA2/data_set
PA2/__MACOSX
PA2/classify
PA2/COCO
PA2/saved_model
PA2/wikiart
PA2/part1_inference_output
PA2/pa2_report.aux
PA2/pa2_report.log
PA2/pa2_report.synctex.gz
PA2/pa2_report.pdf